<div *ngIf="!side" class="featurebody">
    <div class="mainfeatureimage">
      <img
        src={{feature.image}}
        alt="Loading"
        class="featureimage"
      />
    </div>
    <div class="featuredescription">
      <div class="featuretitle">
        {{feature.title}}
      </div>
      <div class="featuredesc">
        {{feature.description}}
      </div>
    </div>
  </div>

  <div *ngIf="side" class="featurebody1">
    <div class="featuredescription">
      <div class="featuretitle">
        {{feature.title}}
      </div>
      <div class="featuredesc">
        {{feature.description}}
      </div>
    </div>
    <div class="mainfeatureimage">
      <img
        src={{feature.image}}
        alt="Loading"
        class="featureimage"
      />
    </div>
  </div>
