<div
  class="createneworupdateformcontainer"
  [ngClass]="{ showAllForms: showAllForms }"
>
  <div class="formlists">
    <div class="formlistheader">
      <div class="formtitle">{{ formtitle }}</div>
      <div class="rightformlistheader">
        <div
          *ngIf="formtitle === 'Active Forms' || formtitle === 'Assigned Forms'"
          class="searchcontainer"
        >
          <input
            type="text"
            name="searchforms"
            [(ngModel)]="searchText"
            (input)="searchAction()"
            placeholder="Search Forms"
            class="searchbox"
          />

          <div class="searchicon"><i class="pi pi-search"></i></div>
        </div>

        <div
          *ngIf="forms.length > 6 && !showAllForms"
          class="downarrow"
          (click)="toggleShowAllForms()"
        >
          <i class="pi pi-angle-down"></i>
        </div>
        <div
          *ngIf="showAllForms"
          class="uparrow"
          (click)="toggleShowAllForms()"
        >
          <i class="pi pi-angle-up"></i>
        </div>
      </div>
    </div>
    <div class="allformlist">
      <app-form-card
        *ngFor="
          let form of showAllForms
            ? forms
            : (forms).slice(0,6)
        "
        [formtitle]="formtitle"
        [form]="form"
      >
      </app-form-card>
    </div>
    <div *ngIf="forms.length === 0">No {{ formtitle }}</div>
  </div>
</div>
