<div class="displayformcontainer">
  <div class="viewresponsediv">
    <button
      class="viewresponsebutton"
      *ngIf="isAdmin && formAdminId === userid"
      (click)="viewResponseHandler()"
      [disabled]="responseData.length===0"
      [style.cursor]="responseData.length>0?'pointer':'not-allowed'"
    >
    {{ responseData.length > 0 ? 'View ' + responseData.length + ' Responses' : 'No response' }}
    </button>
  </div>
  <form class="customcontainer" [formGroup]="currentFormData">
    <div class="displayformheader">
      <input
        type="text"
        formControlName="formtitle"
        class="displayformheadertitle"
        readonly
      />
      <input
        type="text"
        formControlName="formdesc"
        class="displayformheaderdesc"
        readonly
      />
    </div>
  </form>
  <div class="displayformbody">
    <div class="displayinnerformbody">
      <app-display-fields
        *ngFor="let fieldData of fields"
        [type]="fieldData.type"
        [fieldData]="fieldData"
      ></app-display-fields>
    </div>
  </div>
  <div class="submitformbuttoncontainer">
    <!-- Save Form as a Template button -->
    <button
      *ngIf="isAdmin && !isTemplate && showSaveFormAsTemplate"
      class="submitformbutton"
      (click)="saveFinalFormAsTemplate()"
    >
      Save Form as a Template
    </button>

    <!-- Use Template and Edit Form buttons -->
    <ng-container
      *ngIf="isAdmin && isComplete && formAdminId === userid && isTemplate"
    >
      <button class="submitformbutton" (click)="useTemplateHandler()">
        Use Template
      </button>
      <button class="submitformbutton" (click)="editFormHandler()">
        Edit Form
      </button>
    </ng-container>

    <button
      *ngIf="isAdmin && formAdminId !== userid && isTemplate"
      class="submitformbutton"
      (click)="useTemplateHandler()"
    >
      Use Template
    </button>

    <button
      *ngIf="isAdmin && !isTemplate"
      class="submitformbutton"
      (click)="editFormHandler()"
    >
      Edit Form
    </button>

    <!-- Submit button for employee -->
    <button
      *ngIf="isEmployee"
      class="submitformbutton"
      (click)="submitResponseHandler()"
    >
      Submit
    </button>
  </div>
</div>
