
@import "../../../../../designs/common.scss";

.displayformcontainer {
    margin-top: 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    overflow-x: hidden;

    background-color: $light-cyan;
  }
  
  .viewresponsediv{
    display: flex;
    justify-content: center;
  }
  .viewresponsebutton{
    padding: 10px 20px;
    border: none;
    background-color: $navbar-blue;
    color: $white-color;
    border-radius: 10px;
    font-weight: 600;
  }

  .customcontainer {
    display: flex;
    justify-content: center;
  }
  
  .displayformheader {
    display: flex;
    flex-direction: column;
      min-width: 45%;
      /* width: 45%; */
    background-color: $white-color;
    padding: 30px 30px;
    border-radius: 10px 10px 5px 5px;
    border-top: 10px solid $navbar-blue;
    box-shadow: $search-boxshadow;
  }
  
  .displayformheadertitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    border: none;
  }

  .displayformheadertitle:focus,.displayformheaderdesc:focus{
    outline: none;
  }
  
  .displayformheaderdesc {
      font-size: 1rem;
      font-weight: 350;
      border: none;
  }

  
  /* .displayformbody{
      display: flex;
      flex-direction: column;
     
      min-width: 45%;
      align-self: center;
  } */
  .displayformbody {
    display: flex;
    justify-content: center;
  }
  
  .displayinnerformbody {
    display: flex;
    gap: 20px;
    flex-direction: column;
      min-width: 45%;
      /* width: 45%; */
    
  }
  
  
  .submitformbuttoncontainer{
    display: flex;
    justify-content: center;
    gap: 25px;
  }
  
  .submitformbutton{
    padding: 12px 30px;
    background-color: $navbar-blue;
    border: none;
    color: $white-color;
    border-radius: 5px;
    margin-bottom: 1.5rem;
  }


  
  /* @media (max-width: 1000px) {
    .customcontainer{
        min-width: 30%;
    }
  } */