
@import "../../../../../../../../designs/common.scss";

.displayfieldcontainer {
    display: flex;
    flex-direction: column;
    min-width: 45%;
    background-color: $white-color;
    border-radius: 7px;
    padding: 30px 30px;
    box-shadow: $search-boxshadow;
    position: relative;
    transition: border-left 0.2s ease-in-out; /* Add transition to the border */
  }