<div class="displayfieldcontainer">
  <app-display-short-answer
    *ngIf="type === 'Short Answer'"
    [fieldData]="fieldData"
  ></app-display-short-answer>
  <app-display-long-answer
    *ngIf="type === 'Long Answer'"
    [fieldData]="fieldData"
  ></app-display-long-answer>
  <app-display-multiple-choice
    *ngIf="type === 'Multiple Choice'"
    [fieldData]="fieldData"
  ></app-display-multiple-choice>
  <app-display-checkbox
    *ngIf="type === 'Checkbox Type'"
    [fieldData]="fieldData"
  ></app-display-checkbox>
  <app-display-dropdown
    *ngIf="type === 'Dropdown'"
    [fieldData]="fieldData"
  ></app-display-dropdown>
  <app-display-date
    *ngIf="type === 'Date Type'"
    [fieldData]="fieldData"
  ></app-display-date>
  <app-display-time
    *ngIf="type === 'Time Type'"
    [fieldData]="fieldData"
  ></app-display-time>
  <app-display-file
    *ngIf="type === 'File Type'"
    [fieldData]="fieldData"
  ></app-display-file>
</div>
