<div class="logincontainer">
  <div class="loginimage">
    <img src="assets/loginvector.png" class="vectorlogin" alt="Loading" />
  </div>
  <div class="loginfields">
    <div class="loginheading">Login</div>
    <form
      class="logininputs"
      [formGroup]="loginFormData"
      (ngSubmit)="onSubmit()"
    >
      <div class="p-float-label">
        <input
          class="inputbox"
          id="float-input"
          type="text"
          pInputText
          formControlName="email"
        />
        <label for="float-input">Email</label>
      </div>
      <div class="p-float-label">
        <input
          class="inputbox"
          id="float-input"
          type="password"
          pInputText
          formControlName="password"
        />
        <label for="float-input">Password</label>
      </div>
      <div class="field-checkbox">
        <p-checkbox
          name="group1"
          value="admin"
          formControlName="role"
          inputId="ch"
        ></p-checkbox>
        <label style="margin: 0rem 0.5rem" for="ch">Login as admin</label>
      </div>
      <div class="loginbuttons">
        <button
          pButton
          pRipple
          type="submit"
          label="Login"
          class="p-button-outlined p-button-sm loginbutton"
        ></button>
        <button
          pButton
          pRipple
          (click)="gotosignup()"
          label=" Don't have an account?"
          class="p-button-outlined p-button-warning p-button-sm mx-2"
        ></button>
      </div>
    </form>
  </div>
</div>
