@import "../../../designs/common.scss";

.logincontainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.loginimage {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loginheading{
    text-align: center;
    width: 60%;
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $border-login;
}

.loginfields{
    @include displayRow;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logininputs{
    @include displayRow;
    justify-content: center;
    gap: 1.75rem;
    width: 60%;
}

.p-float-label{
    width: 100%;
}

.inputbox{
    width: 100%;
}

.loginbutton{
    width: 25%;
}


@media (max-width: 800px) {
    .logincontainer{
        @include displayRow;
    }
  }