<ng-container *ngFor="let container of formContainers">
    <div *ngIf="container.formTitle === 'Assigned Forms'">
      <app-form-list-container [forms]="container.filteredForms" [formtitle]="container.formTitle"></app-form-list-container>
    </div>
  </ng-container>
  
  <ng-container *ngFor="let container of formContainers">
    <div *ngIf="container.formTitle === 'Submitted Forms'">
      <app-form-list-container [forms]="container.filteredForms" [formtitle]="container.formTitle"></app-form-list-container>
    </div>
  </ng-container>
  