<nav
class="navbar fixed-top navbar-expand-lg navbar-dark navbarr "
>
<div class="container-fluid">
 <a [routerLink]="['/landingpage']" class="navbar-brand">
    <img
      src="assets/logo.png"
      alt="Loading"
      class="logoimage"
      style="height:50px;width: 150px;border-radius: 5px;object-fit: cover;margin-left: 1.5rem;"
    />
</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul
      class="navbar-nav me-auto mb-2 mb-lg-0 navbarcontent"
    >
      <div class="leftnavbar">
        <a class="nav-link active" aria-current="page" [routerLink]="['/landingpage']">
          Home
        </a>

        <a *ngIf="destination" [routerLink]="['/' + destination]" class="nav-link active" aria-current="page">
            Forms
          </a>
         
      </div>
      
        <div class="rightnavbar" *ngIf="destination">
          <a
            class="logoutbutton"
            
            aria-current="page"
          >
            <i class="pi pi-sign-out
            " style="font-size: 1.25rem"(click)="logoutroute()"></i>
        </a>
        
        <div class="profileicon" (click)="profileDetailEdit()">
              <i class="pi pi-user
              " style="font-size: 1.25rem" ></i>
            
          </div>
        </div>
        <div class="rightnavbar" *ngIf="!destination">
          <button class="navbarbuttons" (click)="loginroute()">Login</button>
        </div>

    </ul>
  </div>
</div>
<app-ui-modal *ngIf="isOpen" (closemodal)="closeModal()">
  <app-profile (closemodal)="closeModal()">
  </app-profile>
</app-ui-modal>
</nav>
