
@import "../../../designs/common.scss";


.navbarr {
    min-height: 75px;
    padding: 10px;
    background-color: $navbar-blue;
  }
  .navbarcontent{
    @include displayCol;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .leftnavbar,.rightnavbar{
    @include displayCol;
    align-items: center;
  }
  .rightnavbar{
    gap:20px;
    padding-right: 1rem;
  }
  .profileicon{
    color: white;
    border-radius: 50%;
    cursor: pointer;
  }
  .logoutbutton{
    color: white;
    cursor: pointer;
  }
  .logindropdowm{
    padding-right: 1.5rem;
  }
  
  .navbarbuttons{
    padding: 7px 20px;
    border: none;
    color: $navbar-blue;
    border-radius: 7px;
    background-color: white;
    opacity: 0.9;
  }

  @media (max-width: 667px) {
    .leftnavbar {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.15rem;
      font-size: 1rem;
    }
    .rightnavbar {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.15rem;
      font-size: 1rem;
    }
    .navbarcontent {
      flex-direction: column;
      align-items: flex-start;
    }
    .nav-item {
      padding-left: 10px;
    }
    .profile {
      margin-left: 0rem;
    }
    .logindropdowm {
      margin-left: 0rem;
    }
  }
  @media (max-width: 400px) {
    .leftnavbar {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.15rem;
    }
    .rightnavbar {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.15rem;
    }
    .navbarcontent {
      flex-direction: column;
      align-items: flex-start;
    }
    .nav-item {
      padding-left: 10px;
    }
    .profile {
      margin-left: 0rem;
    }
    .logindropdowm {
      margin-left: 0rem;
    }
  }
  