
@import '../../../../designs/common.scss';

.admindashboardcontainer{
    margin-top: 6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    /* padding: 20px; */
}

.allformscontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.addformbutton{
    /* display: flex; */
    align-items: center;
    padding: 7.4rem 3.5rem;
    text-align: center;
    border-right: 2px solid $divider-color;
}

.newformbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: $navbar-blue;
    box-shadow: $form-boxShadow;
    padding: 3rem 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.pi-plus{
    font-size: 4rem;
    font-weight: 700;
}

.newformbutton:hover{
    background-color: $border-color;
    box-shadow: $newform-hover;
}
