
<div class="admindashboardcontainer">
    <div class="addformbutton">
      <div class="newformbutton" (click)="createNewForm()">
        <i class="pi pi-plus
        "></i>
      </div>
      Create New Form
    </div>
    <div class="allformscontainer">
      <app-current-forms></app-current-forms>
    </div>
  </div>