<div class="editprofilecontainer">
    <div class="profileheader">Profile Details</div>
    <form class="profilebody" [formGroup]="profileFormData">
      <div class="individualdetail">
        <label class="inputname">Employee Name :</label>
        <input
          type="text"
          class="profiledets"
          formControlName="empName"   
          (input)="changeHandler()"
        />
      </div>
      <div class="individualdetail">
        <label class="inputname">Email :</label>
        <input
          type="text"
          class="profiledets"
          formControlName="email"
          (input)="changeHandler()"
        />
      </div>
      <div class="individualdetail">
        <label class="inputname">Mobile Number :</label>
        <input
          type="number"
          class="profiledets"
          formControlName="mobile"
          (input)="changeHandler()"
        />
      </div>
      <div class="individualdetail mb-3">
        <label class="inputname">Team Name :</label>
        <input
          type="text"
          class="profiledets"
          formControlName="teamName"
          readOnly
        />
      </div>
      <div class="profilefooter">
        <button
          class="editprofilebutton"
          (click)="editProfile()"
          [disabled]="!isChange"
          [style.cursor]="isChange ? 'pointer' : 'not-allowed'"
          [style.opacity]="isChange ? '1' : '0.6'"
        >
          Edit Details
        </button>
        <button class="closebutton" (click)="closeModalFromButton()">
          Close
        </button>
      </div>
    </form>
  </div>

  <!-- style={{
    cursor: change ? "pointer" : "not-allowed",
    opacity: change ? "1" : "0.6",
  "" -->