
@import "../../../designs/common.scss";

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $modal-background;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalContent {
    background-color: $white-color;
    padding: 30px;
    width: 40%;
    border-radius: 8px;
    box-shadow: $modal-box-shadow;
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 20px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: $cross-color;
  }
  