<div class="modalOverlay" (click)="closeModal()">
    <div class="modalContent" (click)="stopPropagation($event)">
        <button class="closeButton" (click)="closeModal()">
            <i class="pi pi-times
            " style="font-size:1.25rem;"></i>
        </button>
        <ng-content></ng-content>
        
    </div>
</div>