<div class="signupcontainer">
  <div class="signupimage">
    <img src="assets/signupvector.jpg" class="vectorsignup" alt="Loading" />
  </div>
  <div class="signupfields">
    <div class="signupheading">Sign Up</div>
    <form
      class="signupinputs"
      [formGroup]="signupFormData"
      (ngSubmit)="onSubmit()"
    >
      <div class="p-float-label">
        <input
          class="inputbox"
          id="float-input"
          type="text"
          pInputText
          formControlName="empName"
        />
        <label for="float-input">Name</label>
      </div>
      <div class="p-float-label">
        <input
          class="inputbox"
          id="float-input"
          type="text"
          pInputText
          formControlName="mobile"
        />
        <label for="float-input">Mobile Number</label>
      </div>

      <!-- Show teamName dropdown only if teamName1 is empty -->
      <ng-container *ngIf="!signupFormData.get('teamName1')?.value">
        <p-dropdown
          class="dropdownteam"
          [options]="teams"
          [(ngModel)]="selectedTeam"
          optionLabel="label"
          [filter]="true"
          filterBy="label"
          [showClear]="true"
          formControlName="teamName"
          placeholder="Select From Existing Teams"
        >
          <ng-template let-team pTemplate="item">
            <div class="team-item">
              <div>{{ team.label }}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </ng-container>

      <!-- Show teamName1 input if teamName dropdown is not selected -->
      <div class="p-float-label" *ngIf="!signupFormData.get('teamName')?.value">
        <input
          class="inputbox"
          id="float-input"
          type="text"
          pInputText
          formControlName="teamName1"
        />
        <label for="float-input">Enter New Team</label>
      </div>
      
      <div class="p-float-label">
        <input
          class="inputbox"
          id="float-input"
          type="text"
          pInputText
          formControlName="email"
        />
        <label for="float-input">Email</label>
      </div>
      <div class="p-float-label">
        <input
          class="inputbox"
          id="float-input"
          type="password"
          pInputText
          formControlName="password"
        />
        <label for="float-input">Password</label>
      </div>
      <p-dropdown [options]="role" [(ngModel)]="selectedRole" formControlName="role" placeholder="Sign up as" optionLabel="label" [showClear]="true"></p-dropdown>

      <div class="buttonssignup">
        <button
          pButton
          pRipple
          type="submit"
          label="Signup"
          class="p-button-outlined p-button-sm"
        ></button>
        <button
          pButton
          pRipple
          (click)="gotologin()"
          label="Have an account?"
          class="p-button-outlined p-button-success p-button-sm mx-3"
        ></button>
      </div>
    </form>
  </div>
</div>
