@import "../../../designs/common.scss";

.signupcontainer {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.vectorsignup{
    height: 56rem;
    width: 55rem;
}
.signupimage {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.signupheading{
    text-align: center;
    width: 60%;
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $border-login;
}

.signupfields{
    @include displayRow;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.signupinputs{
    @include displayRow;
    justify-content: center;
    gap: 2rem;
    width: 60%;
}

.p-float-label{
    width: 100%;
}

.inputbox{
    width: 100%;
}

.p-button-success{
    width: 30%;
}

:host ::ng-deep .p-dropdown {
    width: 100%;
}
  

@media (max-width: 800px) {
    .signupcontainer{
        @include displayRow;
    }
  }