
@import '../../../designs/common.scss';

.footerbody{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* min-height: 100vh; */
  }
  
  .footer {
    @include displayRow;
    position: relative;
    width: 100%;
    background: $navbar-blue;
    min-height: 50px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
  }
  

  .footer p {
    color: white;
    margin: 2px 0 2px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  
  
  