
@import "../../../../../../designs/common.scss";

.responsecontainer{
    margin-top: 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.responseheader{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding: 10px 20px;
    border-bottom: 1px solid $divider-color;
    margin-bottom: 1rem;
}

.responseTable {
    width: 100%;
    border-collapse: collapse;
  }
   
  .responseTable th,
  .responseTable td {
    border: 1px solid $dark-divider;
    padding: 0.8rem;
    text-align: left;
    font-size: 1rem;
    overflow: hidden;    
    white-space: nowrap;
    text-overflow: ellipsis; 
    max-width: 15rem;   
    text-align: center;     
  }
  
   
  .responseTable th {
    padding: 1rem;
    background-color: $border-color;
    /* text-align: center; */
  }
   
  .responseTable tbody tr:hover {
    background-color: $table-background;
  }


.approveresponse{
    border:none;
    padding:10px 20px;
    background-color: $approve-color;
    color: $white-color;
    border-radius: 7px;
}
.rejectresponse{
    margin-left: 1rem;
    border:none;
    padding:10px 20px;
    background-color: $reject-color;
    color: $white-color;
    border-radius: 7px;

}