<div class="responsecontainer">
    <div class="responseheader">Responses</div>
    <div class="responsetable">
      <table class="responseTable">
        <thead>
          <tr>
            <th>
              <div class="questionn" style="border-bottom: 1px solid #adadad; padding-bottom: 5px;">
                Questions
              </div>
              <div class="nameempp" style="padding-top: 5px;">
                Employee Name
              </div>
            </th>
            <th *ngFor="let element of totalResponseData[0].responses" [title]="element.question">
              {{ element.question }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let response of totalResponseData; let i = index">
            <td>{{ response.empName }}</td>
            <td *ngFor="let element of response.responses; let j = index" [title]="response.empName">
              <ng-container *ngIf="element.type === 'File Type'">
                <a href="{{ element.response }}" target="_blank" rel="noopener noreferrer">View File</a>
              </ng-container>
              <ng-container *ngIf="element.type === 'Time Type'">
                {{ element.response | timeFormat }} <!-- Apply the custom pipe here -->
              </ng-container>
              <ng-container *ngIf="element.type !== 'File Type' && element.type !== 'Time Type'">
                {{ element.response.toString() }}
              </ng-container>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
  