<div class="filetypefieldcontainer">
    <input
      type="text"
      class="questionfield"
      placeholder="Question"
      [value]="fieldState.question" (input)="handleQuestionChange($event)" 
    />
    <div class="fileContainer">
      <input
        type="file"
        class="filefield"
        disabled
      />
    </div>
  </div>

  <app-functionalites (hasChangedChange)="onHasChangedChange($event)" [hasChanged]="hasChanged" [fieldState]="fieldState"></app-functionalites>
