<div class="timetypefieldcontainer">
    <input
      type="text"
      class="questionfield"
      placeholder="Question"
      [value]="fieldState.question" (input)="handleQuestionChange($event)" 
    />
    <div class="timeContainer">
      <input
        type="time"
        class="timefield"
        disabled
      />
      <i class="pi pi-clock timeIcon"></i>
    </div>
  </div>

  <app-functionalites (hasChangedChange)="onHasChangedChange($event)" [hasChanged]="hasChanged" [fieldState]="fieldState"></app-functionalites>
