<div class="datetypefieldcontainer">
    <input
      type="text"
      class="questionfield"
      placeholder="Question"
      [value]="fieldState.question" (input)="handleQuestionChange($event)" 
    />
    <div class="dateContainer">
      <input
        type="date"
        class="datefield"
        disabled
      />
      <i class="pi pi-calendar calendarIcon"></i>
    </div>
  </div>
  <app-functionalites (hasChangedChange)="onHasChangedChange($event)" [hasChanged]="hasChanged" [fieldState]="fieldState"></app-functionalites>

