<div class="dropdownfieldcontainer">
    <div [ngClass]="['questionfield', fieldData.isrequired ? 'required' : '']">
      {{ fieldData.question }}
    </div>
    <div class="optionsarray">
      <p-dropdown
        [options]="optionList"
        placeholder="Choose An Option"
        [(ngModel)]="selectedOption"
        (ngModelChange)="responseHandler()"
        [filter]="false"
        [showClear]="true"
        optionLabel="label"
      >
      </p-dropdown>
    </div>
  </div>