<div class="displaytimecontainer">
    <div [ngClass]="['questionfield', fieldData.isrequired ? 'required' : '']">
      {{ fieldData.question }}
    </div>
    <div class="timeContainer">
      <input 
        type="time" 
        class="timefield" 
        [disabled]="isAdmin"
        [(ngModel)]="responseData.response" 
        (ngModelChange)="responseHandler()" 
        [required]="fieldData.isrequired"
      />
      <ng-container *ngIf="isAdmin">
        <i class="pi pi-clock timeIcon"></i>
      </ng-container>
    </div>
  </div>
  