<!-- <app-navbar></app-navbar> -->
<div class="landingpagecontainer">
    <div class="mainbody">
      <div class="mainbodydescription">
        <div class="bodytitle">
          Get insights quickly, with Dbox Forms
        </div>
        <div class="bodydesc">
          Easily create and share online forms and surveys, and analyze
          responses in real-time.
        </div>
        <div class="bodyformslink" *ngIf="isLoggedIn$|async">
            
            <button
            pButton
            pRipple
            label="Go to Forms"
            (click)="navigatetodashboard()"
            class="p-button-outlined p-button-sm"
          ></button>
        </div>
          <div class="gotosignup" *ngIf="!(isLoggedIn$ | async)">
            <div class="donthavetext">
              Don't Have an account?
            </div>
            <div class="listofsignup">
                <button
                pButton
                pRipple
                (click)="gotoSignup()"
                label="Signup for Free"
                class="p-button-outlined p-button-sm"
              ></button>
            </div>
          </div>
    
      </div>
      <div class="mainbodyimage">
        <img
          src="assets/mainimagebody.jpg"
          alt="Loading"
          class="bodyimage"
        />
      </div>
    </div>
    <div class="featurescontainer">
      <div class="featuresheading">Features</div>
      <div class="featuressss" *ngFor="let feature of features; let i = index">
        <app-feature-item [feature]="feature" [side]="i % 2 !== 0 ? 'switch' : null"></app-feature-item>
      </div>
    </div>
  </div>