<div class="displaycheckboxcontainer">
    <div [ngClass]="['questionfield', fieldData.isrequired ? 'required' : '']">
      {{ fieldData.question }}
    </div>
    <div class="optionsarray">
      <ng-container *ngIf="fieldData.options">
        <div *ngFor="let option of fieldData.options; let index = index" class="optionContainer">
          <input 
            type="checkbox"
            [id]="'option-' + fieldData.fieldid + '-' + index"
            [name]="'options-' + fieldData.fieldid"
            class="optionInput"
            [value]="option"
            [checked]="responseData.response.includes(option)"
            (change)="responseHandler(option)"
            [required]="fieldData.isrequired"
          />
          <input 
            type="text" 
            class="optionField" 
            [placeholder]="'Option'" 
            [value]="option" 
            readonly 
          />
        </div>
      </ng-container>
    </div>
  </div>
