<app-short-answer-fields *ngIf="type === 'Short Answer'" [fieldData]="fieldData"></app-short-answer-fields>
<app-long-answer-fields *ngIf="type === 'Long Answer'" [fieldData]="fieldData"></app-long-answer-fields>
<app-multiple-choice-fields *ngIf="type === 'Multiple Choice'" [fieldData]="fieldData"></app-multiple-choice-fields>
<app-checkbox-type-fields *ngIf="type === 'Checkbox Type'" [fieldData]="fieldData"></app-checkbox-type-fields>
<app-dropdown-fields *ngIf="type === 'Dropdown'" [fieldData]="fieldData"></app-dropdown-fields>
<app-date-type-fields *ngIf="type === 'Date Type'" [fieldData]="fieldData"></app-date-type-fields>
<app-time-type-fields *ngIf="type === 'Time Type'" [fieldData]="fieldData"></app-time-type-fields>
<app-file-type-fields *ngIf="type === 'File Type'" [fieldData]="fieldData"></app-file-type-fields>