<div class="displaydatefieldcontainer">
    <div [ngClass]="['questionfield', fieldData.isrequired ? 'required' : '']">
      {{ fieldData.question }}
    </div>
    <div class="dateContainer">
      <input 
        type="date" 
        class="datefield" 
        [disabled]="isAdmin" 
        [(ngModel)]="responseData.response"
        (ngModelChange)="responseHandler()" 
        [required]="fieldData.isrequired"
      />
      <ng-container *ngIf="isAdmin">
        <i class="pi pi-calendar calendarIcon"></i>
      </ng-container>
    </div>
  </div>
  