@import "../../../../../../../../../../designs/common.scss";

.displaydatefieldcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.questionfield{
    padding: 5px;
    font-size: 1.25rem;
    border:none;
}

.questionfield:focus{
    outline:none;
}

.dateContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 0.3rem;
}

.datefield{
    border:none;
    cursor: pointer;
    border-bottom: 1px solid $divider-color;
}
.datefield:focus{
    outline:none;
}

.questionfield.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}