<div class="displaypreviewformcontainer">
   
    <form class="customcontainer" [formGroup]="currentFormData">
      <div class="displayformheader">
        <input
          type="text"
          formControlName="formtitle"
          class="displayformheadertitle"
          readonly
        />
        <input
          type="text"
          formControlName="formdesc"
          class="displayformheaderdesc"
          readonly
        />
      </div>
    </form>
    <div class="displayformbody">
      <div class="displayinnerformbody">
        <app-display-fields
          *ngFor="let fieldData of fields"
          [type]="fieldData.type"
          [fieldData]="fieldData"
        ></app-display-fields>
      </div>
    </div>
   
</div>
  