@import "../../../../../../../../../../designs/common.scss";

.longanswerfieldcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.questionfield{
    padding: 5px;
    font-size: 1.25rem;
    border:none;
    border-bottom: 0px;
    transition: border-bottom 0.3s ease-in-out;
}
.answerfield{
    padding: 10px;
    border: none;
    border: 1px solid $dark-divider;
    cursor:auto;
    border-radius: 5px;
}


.questionfield:focus,.answerfield:focus{
    outline:none;
}

.questionfield:focus{
    border-bottom: 1px solid $dark-divider;
}