<div class="longanswerfieldcontainer">
    <input
      type="text"
      class="questionfield"
      placeholder="Question"
      [value]="fieldState.question" (input)="handleQuestionChange($event)"
    />
    <textarea
      name="answer"
      id="answer"
      cols="30"
      rows="2"
      [placeholder]="fieldState.placeholder" (input)="handlePlaceholderChange($event)"
      class="answerfield my-1"
    ></textarea>
  </div>

<app-functionalites (hasChangedChange)="onHasChangedChange($event)" [hasChanged]="hasChanged" [fieldState]="fieldState"></app-functionalites>

