<div class="checkboxfieldcontainer">
    <input
      type="text"
      class="questionfield"
      placeholder="Question"
      [value]="fieldState.question"
      (input)="handleQuestionChange($event)"
    />
    <div
      *ngFor="let option of fieldState.options; let index = index"
      class="optionsarray"
    >
      <div key="index" class="optionContainer">
        <input
          type="checkbox"
          id="'option-' + index"
          name="options"
          class="optionInput"
          [value]="fieldState.options[index]"
          (input)="handleOptionChange(index, $event)"
        />
        <input
        type="text"
        class="optionField"
        placeholder="Option"
        [value]="fieldState.options[index]"
        (change)="handleOptionChange(index, $event)"
        (click) = "changeHandler()"
      />
  
        <div
          *ngIf="index === fieldState.options.length - 1"
          class="addOptiondiv"
          (click)="handleAddOption()"
        >
          <i class="pi pi-plus-circle"></i>
        </div>
  
        <div
          *ngIf="index !== 0"
          class="deleteOptiondiv"
          (click)="handleDeleteOption(index)"
        >
          <i class="pi pi-times"></i>
        </div>
      </div>
    </div>
    <p *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</p>
  </div>
  <app-functionalites (hasChangedChange)="onHasChangedChange($event)" [hasChanged]="hasChanged" [fieldState]="fieldState"></app-functionalites>

  