$navbar-blue: #3284FF;
$white-color: #fff;
$border-color: #f2f2f2;
$table-background: #f7f7f7;
$divider-color: #e0e0e0;
$background-color: #f3f3f3;
$dark-background-color: #dfdfdf;
$modal-background:rgba(0, 0, 0, 0.8);
$modal-box-shadow:0px 4px 8px rgba(0, 0, 0, 0.2);
$dark-divider: #adadad;
$hover-color: #dad9d9;
$light-cyan: #D9F5F9;
$approve-color: #039487;
$reject-color: #ff0000;
$border-login:#c1c1c1;
$cross-color: #888;
$newform-hover:  rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
$featureimage-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
$form-boxShadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
$search-boxshadow: 0 0 7px rgba(0, 0, 0, 0.2);

@mixin displayRow {
  display: flex;
  flex-direction: column;
}

@mixin displayCol {
  display: flex;
  flex-direction: row;
}
