<div class="shortanswerfieldcontainer">
  <input type="text" class="questionfield" placeholder="Question" [value]="fieldState.question" (input)="handleQuestionChange($event)" />
  <input type="text" class="answerfield" [placeholder]="fieldState.placeholder" (input)="handlePlaceholderChange($event)"/>
</div>
<app-functionalites (hasChangedChange)="onHasChangedChange($event)" [hasChanged]="hasChanged" [fieldState]="fieldState"></app-functionalites>
