<div
  [ngClass]="[currentdiv ? 'addborder' : '', 'newfieldcontainer']"
  (click)="showBorder()" (outsideClick)="currentdiv = false" appOutsideClick
>
  <div class="optionlistfields">
    <p-dropdown
      [options]="optionList"
      [(ngModel)]="selectedOption"
      placeholder="Select Type"
      optionLabel="label"
      (ngModelChange)="onOptionSelected($event)"
    ></p-dropdown>
  </div>
  <app-field-type-attributes [type]="fieldData.type" [fieldData]="fieldData"></app-field-type-attributes>
        
</div>
