@import "../../../../../../../../designs/common.scss";

.newfieldcontainer {
  display: flex;
  flex-direction: column;
  min-width: 45%;
  background-color: $white-color;
  border-radius: 7px;
  padding: 30px 30px;
  box-shadow: $search-boxshadow;
  position: relative;
  border-left: 5px solid $white-color;
  transition: border-left 0.35s ease-in-out; /* Add transition to the border */
}

.addborder {
  border-left: 5px solid $navbar-blue;
}

:host ::ng-deep .p-dropdown {
  width: 100%;
}
