<div class="isrequiredfield">
  <label class="requiredcontainer">
    <input type="checkbox" class="requiredcheckbox" [checked]="isRequired" (input)="changeIsRequired($event)" />
    Field Required
  </label>
</div>
<div class="functionalities">
  <!-- <button class="copyfieldbutton">Copy Field</button> -->
  <button class="addfieldbutton" (click)="addFieldHandler()">Add New Field</button>
  <button
  [ngClass]="[hasChanged ? 'changed' : '', 'savechangebutton']"
  [style.cursor]="hasChanged ? 'pointer' : 'not-allowed'"
  [disabled]="hasChanged ? false : true"
  (click)="updatefieldHandler()"
  >
  Save Changes
</button>
<button class="deletefieldbutton" (click)="deleteFieldHandler()">Delete Field</button>
</div>