<div class="displayfilefieldcontainer">
    <div [ngClass]="['questionfield', fieldData.isrequired ? 'required' : '']">
      {{ fieldData.question }}
    </div>
    <div class="fileContainer">
      <input 
        type="file" 
        #fileRef 
        class="filefield" 
        [disabled]="isAdmin" 
        (change)="responseHandler($event)" 
        [required]="fieldData.isrequired"
      />
    </div>
  </div>
  