<div class="createformcontainer">
  <form class="customcontainer" [formGroup]="currentFormData">
    <div class="createformheader">
      <input
        type="text"
        formControlName="formtitle"
        class="createformheadertitle"
      />
      <input
        type="text"
        formControlName="formdesc"
        class="createformheaderdesc"
      />
    </div>
  </form>
  <div class="createformbody">
    <div class="createinnerformbody">
        <ng-container *ngIf="fields.length>0">
            <app-new-fields *ngFor="let fieldData of fields" [fieldData]="fieldData"></app-new-fields>
        </ng-container>
      <app-first-new-fields *ngIf="fields.length === 0"></app-first-new-fields>
    </div>
  </div>
  <div class="submitformbuttoncontainer" *ngIf="fields.length > 0">
    <button class="submitformbutton" *ngIf="showSaveFormAsTemplate" (click)="saveFinalFormAsTemplate()">
      Save Form as a Template
    </button>

    <button class="submitformbutton" *ngIf="showSaveForm" (click)="saveFinalForm()">Save Form</button>
  </div>
</div>
<div class="formpreview">
    <h5 style="text-align: center;">Form Preview</h5>
    <app-display-preview-form></app-display-preview-form>
  </div>
