
@import "../../../../../designs/common.scss";

.createformcontainer {
    margin-top: 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    gap: 20px;
    background-color: $light-cyan;
  }
  
  .customcontainer {
    display: flex;
    // justify-content: center;
    margin-left: 15%;
  }
  
  .createformheader {
    display: flex;
    flex-direction: column;
    min-width: 55%;
    /* width: 45%; */
    background-color: $white-color;
    padding: 30px 30px;
    border-radius: 10px 10px 5px 5px;
    border-top: 10px solid $navbar-blue;
    box-shadow: $search-boxshadow;
  }
  
  .createformheadertitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    border: none;
  }
  
  .createformheaderdesc {
      font-size: 1rem;
      font-weight: 350;
      border: none;
  }
  
  .createformheaderdesc:focus,.createformheadertitle:focus{
      outline:none;
      border-bottom: 2px solid $dark-divider;
  }

  
  .createformbody {
    display: flex;
    // justify-content: center;
    margin-left: 15%;
  }
  
  .createinnerformbody {
    display: flex;
    gap: 20px;
    flex-direction: column;
      min-width: 55%;
      /* width: 45%; */
    
  }
  
  .formpreview {
    position: fixed;
    top: 10rem; 
    right: 20px; 
    width: 23%; 
    height: calc(100vh - 15rem); 
    padding: 20px;
    overflow-y: auto; 
    border-radius: 10px;
  }
  
  .formpreview::-webkit-scrollbar {
    width: 1px;
    border-radius: 10px;
  }
  
  .formpreview::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
  }
  
  .formpreview::-webkit-scrollbar-thumb {
    background-color: #adadad; /* Color of the scrollbar thumb */
  }
  
  .submitformbuttoncontainer{
    display: flex;
    // justify-content: center;
    gap: 25px;
    margin-left: 26.5%;
  }
  
  .submitformbutton{
    padding: 12px 30px;
    background-color: $navbar-blue;
    border: none;
    color: $white-color;
    border-radius: 5px;
    margin-bottom: 1.5rem;
  }
  