<div class="displaylonganswercontainer">
    <div [ngClass]="['questionfield', fieldData.isrequired ? 'required' : '']">
      {{ fieldData.question }}
    </div>
    <textarea 
    name="answer"
    id="answer"
    cols="30"
    rows="2"
      class="answerfield" 
      [placeholder]="fieldData.placeholder" 
      [readonly]="isAdmin" 
      [required]="fieldData.isrequired" 
      [(ngModel)]="responseData.response"
      (ngModelChange)="responseHandler()"
    ></textarea>
  </div>