
@import "../../../../../designs/common.scss";

.cardcontainer{
    padding: 0;
    margin: 0;
    cursor: pointer;
    position:relative;

}


.formcardimage{
    height: 175px;
    width: 175px;
    margin:0 auto;
}

.formcardbody{
    padding:5px;
    align-items: center;
    text-align: center;
}
.deleteformicon{
    display:none;
    position: absolute;
    top:0;
    right:0;
    border-radius: 50%;
    padding: 5px;
}

.cardcontainer:hover{
    box-shadow: $newform-hover;
    .deleteformicon{
        display: block;
    }
}

.deleteformicon:hover{
    background-color: $dark-background-color;
}