<div
  class="card cardcontainer"
  [style.cursor]="isSubmittedForm ? 'not-allowed' : 'pointer'"
  (click)="openForm()"
>
  <img
  src="assets/form.png"
  *ngIf="formtitle !== 'Template Forms'"
    class="formcardimage card-img-top"
    alt="Loading"
  />
  <img
  src="assets/template.jpeg"
  *ngIf="formtitle === 'Template Forms'"
    class="formcardimage card-img-top"
    alt="Loading1"
  />
  <div class="formcardbody card-body">
    <h6 class="card-title">{{form.formtitle}}</h6>
    <div class="deleteformicon" *ngIf="formtitle !== 'Template Forms'" (click)="deleteSelectedform($event)">
      <i class="pi pi-trash" style="font-size: 1.15rem"></i>
    </div>
  </div>
</div>
