<div class="newfieldcontainer">
    <div class="optionlistfields">
      
    <p-dropdown
      [options]="optionList"
      [(ngModel)]="selectedOption"
      placeholder="Select Type"
      optionLabel="label"
      (ngModelChange)="onOptionSelected($event)"
    ></p-dropdown>
  </div>
</div>
