<app-form-list-container [forms]="filteredForms" [formtitle]="formtitle"></app-form-list-container>
<app-form-list-container [forms]="filteredForms1" [formtitle]="formtitle1"></app-form-list-container>
<app-form-list-container [forms]="filteredForms2" [formtitle]="formtitle2"></app-form-list-container>
