<div class="displayshortanswercontainer">
    <div [ngClass]="['questionfield', fieldData.isrequired ? 'required' : '']">
      {{ fieldData.question }}
    </div>
    <input 
      type="text"
      class="answerfield" 
      [placeholder]="fieldData.placeholder" 
      [readonly]="isAdmin" 
      [required]="fieldData.isrequired"
      [(ngModel)]="responseData.response" 
      (ngModelChange)="responseHandler()"
    />
</div>